*{
    position:relative;
    text-align:center;
}
  body {
      position: relative;
  }

  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  .welcome{
      text-align:center;
      background:url("bg1.jpg") no-repeat center;
      background-size:cover;
      background-color:#7D3C98  ;
  }
  .jumbo{
      background-color:transparent;
      text-transform:uppercase;
      text-align:center;
      margin-top:10%;
      color:#A6ACAF;
  }
  .jumbo p{
      background-color:transparent;
      text-transform:uppercase;
      text-align:center;
      font-size:40px;
      color:black;
  }
  .jumbo h1{
      font-size:100px;
      font-family:Prompts;
      color:#A6ACAF;
      text-shadow: 2px 0px 0px rgb(204, 204, 204), 0px 2px 0px rgb(201, 201, 201), 0px 3px 0px rgb(187, 187, 187), 0px 4px 0px rgb(185, 185, 185), 0px 5px 0px rgb(170, 170, 170), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);


  }
  #chutiya{
      background:rgba(35, 183, 170, 0.29);
      z-index:+10;
  }