@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
body {
    background:url("nw.png") no-repeat;
    z-index:0;
    background-size:cover;
    background-attachment:fixed;
    background-position-x:center;
    height: 100%;
    color: #fff;
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display:initial;
    margin-top: 0;
    text-align:center;
}
.jumbo{
      background-color:transparent;
      text-transform:uppercase;
      text-align:center;
      margin-top:1.5vw;
      color:white;
  }
 .jumbo p{
      background-color:rgba(69, 68, 68, 0.4);
      border-radius:40px;
      text-transform:uppercase;
      text-align:center;
      font-size:3vw;
      margin-top:4vw;
      color:white;
  }
  .jumbo h1{
      font-size:10vw;
      font-family:Calibri;
      text-shadow: 2px 0px 0px rgb(87, 85, 85), 0px 2px 0px rgb(87, 85, 85), 0px 3px 0px rgb(87, 85, 85), 0px 4px 0px rgb(87, 85, 85), 0px 5px 0px rgb(87, 85, 85), 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);
  }
 #chutiya{
      background:rgba(35, 183, 170, 0.29);
      z-index:+10;
  }
 .hutiya {
        margin-top:1vw;
        font-size:4vw;
        font-weight:600;
        color:rgba(241, 112, 112, 0.53)
    }
 .part1{
     height:100%;
     width:100%;
     margin-bottom:20%;
 }
 .part2{
     background-color:rgba(35, 34, 34, 0.63);
     text-align:center;
     display:inline-block;
     position:relative;
 }
 .part2 h1{
     text-decoration:underline;
     font-size:3em;

 }
 .part2 p{
     text-decoration:none;
     font-size:1.5em;
     text-align:justify;
     height:auto;

 }
 .footer{
     background-color:rgba(241, 112, 112, 0.53);
     color:rgb(0, 0, 0);
     font-size:2em;
 }
 .footer p{
     margin-top:4vh;
     margin-bottom:4vh;
 }
 .imga{
     width:100%;
     height:70vh;
     border:solid;
     border-radius:20px;
 }
 .message{
     display:inline-block;
     position:relative;
     text-align:justify;
 }
 .wrapper{
     position:relative;
     float:left;
 }
 .discription{
     position:absolute;
     bottom:0px;
     width:100%;
 }
 .content{
     padding:10px;  
     margin:0px;
     opacity:0; 
     background-color:rgba(151, 142, 142, 0.50);
     color:rgb(5, 5, 5);
 }
 .content:hover{
     opacity:0.5;
 }
 .log{
     height:40px;
     width:60px;
     margin-top:0px;
     padding-top:0%;
     top:0;
     margin-bottom:2%;
 }
 .contact{
     background-color:rgba(46, 51, 48, 0.93)
 }
 .info{
     text-align:center;
     border:none;
 }
 .info h2{
     text-align:center;
 }
 .ch{
     text-align:center;
 }