*{
    position:relative;
    text-align:center;
}
body {
    background:url("bg221.jpg") no-repeat;
    z-index:0;
    background-size:cover;
    background-attachment:fixed;
    background-position-x:center;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.demo{
    text-align:left;

}